WcfClient/WcfClient/Connected Services/ServiceReference1/ContactService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee1">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpFirstMidName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="EmpLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee1" nillable="true" type="tns:Employee1" />
  <xs:complexType name="ArrayOfEmployee1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee1" nillable="true" type="tns:Employee1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee1" nillable="true" type="tns:ArrayOfEmployee1" />
</xs:schema>