WcfProject/ClientCRUD/Connected Services/ServiceReference10/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52420/ContactService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52420/ContactService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52420/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfProject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertData" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAll" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecordbyId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordbyId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecordbyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordbyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertData" message="tns:IService1_InsertData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertDataResponse" message="tns:IService1_InsertData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAll" message="tns:IService1_ShowAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllResponse" message="tns:IService1_ShowAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordbyId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRecordbyId" message="tns:IService1_GetRecordbyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRecordbyIdResponse" message="tns:IService1_GetRecordbyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateData" message="tns:IService1_UpdateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDataResponse" message="tns:IService1_UpdateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteData" message="tns:IService1_DeleteData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDataResponse" message="tns:IService1_DeleteData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertData">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAll">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordbyId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRecordbyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52420/ContactService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>